@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #2b2b2b;
  --foreground: white;
  scrollbar-width: none;
}

body {
  color: var(--foreground);
  background: var(--background);
}